@import '../../assets/variables.scss';

.icon-cart {
    color: $dark-gray;
    font-size: 35px;
    position: relative;
    transition: color 300ms;
    cursor: pointer;
    &:hover {
        color: $rose;
        .total-items-counter {
            color: $rose;
        }
    }
    svg {
        vertical-align: top;
    }
    .total-items-counter {
        color: #333333;
        font-family: 'Oswald', sans-serif;
        font-size: 11px;
        font-weight: bold;
        text-align: center;
        width: 16px;
        height: 16px;
        display: block;
        border-radius: 10px;
        position: absolute;
        top: 13px;
        right: 10px;
    }
}

#cover {
    background-color: rgba(51,51,51,0.5);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 998;
    display: none;
    &.open {
        display: block;
    }
}

#slidecart {
    background: #F5F5F5;
    height: 100%;
    width: 350px;
    padding-bottom: 14%;
    position: fixed;
    top: 0;
    right: -350px;
    z-index: 999;
    transition: all 400ms ease;
    &.open {
        right: 0;
        box-shadow: -10px 0px 5px 0px rgba(51,51,51,0.2);
    }
    .header {
        border-bottom: 1px solid #cccccc;
        position: relative;
        h3 {
            font-family: 'Oswald', sans-serif;
            font-size: 20px;
        }
        .close {
            font-size: 30px;
            position: absolute;
            top: 10px;
            right: 10px;
            cursor: pointer;
        }
    }
    .list-items {
        height: 100%;
        overflow: auto;
    }
    .footer-widget {
        background: $gray;
        font-size: 20px;
        width: 100%;
        padding: 25px 0;
        position: absolute;
        bottom: 0;
        right: 15px;
    }
}

@media (min-width: 1025px) {
    .icon-cart {
        .total-items-counter {
            top: 12px;
            right: 9px;
        }
    }
}