.item-detail {
    font-family: 'Oswald', sans-serif;
    h1, h3 {
        font-family: 'Playfair Display', serif;
    }
    .price {
        font-size: 30px;
        max-width: 150px;
    }
    .item-count {
        max-width: 150px;
    }
}