.quantity-item {
    font-family: 'Oswald', sans-serif;
    padding: 10px 0;
    button {
        background: #333333;
        color: #ffffff;
        width: 35px;
        height: 35px;
        padding: 0;
        border: none;
        border-radius: 50px;
        transition: all 300ms;
        &:hover {
            background: #cccccc;
            color: #333333;
        }
        &:focus {
            outline: 0;
        }
    }
    .quantity {
        font-size: 20px;
        width: 40px;
        display: inline-block;
    }
}
