@import '../../../assets/variables.scss';

header {
    .logo {
        img {
            margin: 0 auto;
        }
    }
    .menu-icon-mobile {
        font-size: 31px;
        font-weight: bold;
    }
    #mainMenu {
        background-color: $dark-gray;
        font-size: 13px;
        text-transform: uppercase;
        padding: 5px 0;
        a {
            color: #FFFFFF;
            margin: 8px 30px;
            padding: 2px 0;
            position: relative;
            transition: all 100ms;;
            &:first-child {
                margin-left: 0;
            }
            &:before,
            &:after {
                content: "";
                position: absolute;
                bottom: 0;
                width: 0px;
                height: 1px;
                margin: 5px 0 0;
                transition: all 100ms;;
                transition-duration: 0.5s;
                opacity: 0;
                background-color: #FFFFFF;
                left: 0;
            }
            &:hover {
                &:before,
                &:after {
                    width: 100%;
                    opacity: 1;
                }
            }
        }
        a.active {
            color: #FFFFFF;
            &:before,
            &:after {
                width: 100%;
                opacity: 1;
            }
        }
    }
}

@media (min-width: 1025px) {
    header {
        .logo {
            img {
                max-width: 150px!important;
            }
        }
    }
}